<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="title-left">
                <h1><a href="{{ site.baseurl }}/" style="color: white; text-decoration: none;">Dr. Tristan Savella: Data Analyst</a></h1>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="{{ site.baseurl }}/case_studies.html">Portfolio</a></li>
                    <li><a href="{{ site.baseurl }}/about.html">About Me</a></li>
                    <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
                    <li><a href="https://www.linkedin.com/in/tristansavella/" target="_blank"><img src="{{ site.baseurl }}/images/linkedin.png" alt="LinkedIn" style="width: 20px;"></a></li>
                    <li><a href="https://github.com/tpiano91" target="_blank"><img src="{{ site.baseurl }}/images/github.png" alt="GitHub" style="width: 20px;"></a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; 2024 Dr. Tristan Savella</p>
    </footer>
</body>
</html>
